[submodule "vendor/padrino/padrino-admin"]
	path = vendor/padrino/padrino-admin
	url = git@github.com:padrino/padrino-admin.git
[submodule "vendor/padrino/padrino-cache"]
	path = vendor/padrino/padrino-cache
	url = git@github.com:padrino/padrino-cache.git
[submodule "vendor/padrino/padrino-core"]
	path = vendor/padrino/padrino-core
	url = git@github.com:padrino/padrino-core.git
[submodule "vendor/padrino/padrino-routing"]
	path = vendor/padrino/padrino-routing
	url = git@github.com:padrino/padrino-routing.git
[submodule "vendor/padrino/padrino-mailer"]
	path = vendor/padrino/padrino-mailer
	url = git@github.com:padrino/padrino-mailer.git
[submodule "vendor/padrino/padrino-helpers"]
	path = vendor/padrino/padrino-helpers
	url = git@github.com:padrino/padrino-helpers.git
[submodule "vendor/padrino/padrino-gen"]
	path = vendor/padrino/padrino-gen
	url = git@github.com:padrino/padrino-gen.git
[submodule "vendor/padrino/padrino"]
	path = vendor/padrino/padrino
	url = git@github.com:padrino/padrino-framework.git
[submodule "vendor/padrino"]
	path = vendor/padrino
	url = git@github.com:padrino/padrino-framework.git
